body{
    font-family: 'Barlow Condensed', sans-serif;
    color:rgb(34, 34, 34);
}


#mainWrapper{
    display:flex;
    justify-content: center;
}

.categoriesUl{
    list-style-type:square;
    font-size: x-large;
}

#selectedCategory{
    font-size: x-large;
    padding:5px;

}
li{
    padding:4px;
}
.quizWrapper{
    display:flex;
    flex-direction: column;
    width:500px;
    display:none;
}
header{
    height:100px;
}

.startPage{
    display: flex;
    flex-direction: column;
}

#btnBeginQuiz{
    align-self: center;
}

#question{
    display:flex;
    align-items: center;
    height:50px;
    margin-bottom: 10px;
    padding:0 10px 0 10px;
}
.ansDiv{
    display:flex;
    align-items: center;
    height: 35px;
    background-color: #ddd;
    margin-bottom: 10px;
    padding:0 15px 0 15px;
    border-radius: 5px;

}
.actionBtns{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.score{
    padding:0px 10px;
    text-align: center;
    font-size: xx-large;
}

.resultsDiv{
    display:flex;
    flex-direction: column;
    align-content: center;
    padding:15px;
    display:none;
}

.first-page{
    padding:15px;
}
.startPage div p{
    background:cornflowerblue;
    color:white;
    padding: 5px;
    text-align: center;
    margin:10px 0 10px 0;
    border-radius: 50px;
    width:450px;
    font-size:17px;
}
#title{
    font-size:50px;
    display:block;
    text-align: center;
}

#titleSm{
    color:cornflowerblue;
    margin-bottom: 0px;
}

.error-message{
    text-align: center; 
    margin-top: 4px;
    color:#ff0040;
}

button{
    height:35px;
    width:110px;
    font-size: 14px;
    border: none;
    background-color: rgb(36, 36, 36);
    color: #ccc;
    border-radius: 25px;
    padding: 10px;
}


button:hover{
    background: cornflowerblue;
}
/* ------------------ MOBILE DEVICES -------------------*/
@media(max-width:500px ){
#question{
    height:80px;
}


.startPage div p{
    background:cornflowerblue;
    color:white;
    padding: 5px;
    text-align: center;
    width:280px;
    margin:15px 0 0 0;

}
#title{
    font-size:50px;
    display:block;
    text-align: center;
    margin:10px 0 0 0;
}
.ansDiv{
    height:50px;
    border-radius: 40px;
    padding:0 20px 0 20px;
    margin-bottom: 5px;
}
.actionBtns{
    display: flex;
    justify-content: space-between;
    padding: 0 2px 0 2px;

}
button{
    height:40px;
    width:115px;
    font-size: medium;
    border: none;
    background-color: rgb(36, 36, 36);
    color: #ccc;
    border-radius: 20px;
    padding: 10px;
}

}
