#mainWrapper{
    display:flex;
justify-content: center;
}

.qWrapper{
    display:flex;
    flex-direction: column;
    width:500px;
}
header{
    height:100px;
}
#question{
    display:flex;
    align-items: center;
    /* background:#EEE; */
    height:50px;
    margin-bottom: 5px;
    padding:0 0 0 10px;
}
.ansDiv{
    display:flex;
    align-items: center;
    height: 25px;
    background-color: #ddd;
    margin-bottom: 5px;
    padding:0 0 0 15px;
    /* border-radius: 20px; */
}
.actionBtns{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width:120px;
    background-color: #222;
    color:white;
    border-radius: 8px;
}
.quit{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width:120px;
    background-color: #222;
    color:white;
    border-radius: 8px;

}

@media(max-width:500px ){
#question{
    height:80px;
}
.ansDiv{
    height:60px;
    border-radius: 20px;
    padding:0 0 0 20px;
}
.submit{
    border-radius: 12px;
}
.quit{
    border-radius: 12px;

}
.actionBtns{
    display: flex;
    justify-content: space-between;
    /* margin-top: 30px; */


}

}
